/.distignore       export-ignore
/.editorconfig     export-ignore
/.env              export-ignore
/.github/          export-ignore
/docs/             export-ignore
/mkdocs.yml        export-ignore
/node_modules/     export-ignore
/tests/            export-ignore
/vendor/           export-ignore
CODE_OF_CONDUCT.md export-ignore
composer.json      export-ignore
composer.lock      export-ignore
CONVENTIONS.md     export-ignore
Makefile           export-ignore
package-lock.json  export-ignore
package.json       export-ignore
phpunit.xml        export-ignore
phpunit.xml.dist   export-ignore
README.md          export-ignore
renovate.json      export-ignore
sftp-config.json   export-ignore
test.php           export-ignore