
/* Estilo para los avatares seleccionados */
.avatar-group-item.selected .rounded-circle {
  position: relative;
  border: 2px solid transparent; /* Prevents the image size from changing */
}

/* Aureola verde alrededor de los avatares seleccionados */

/* Estilo base para los avatares con clase .today */
.avatar-group-item.selected.today .rounded-circle {
  box-shadow: 0 0 0 4px rgba(0, 255, 1, 0.7); /* Adjust the halo's size and color */
  border: 0px solid transparent; /* Keep the current border */
}


/* If you also want a halo on divs without images (initial letters or counters) */
.today {
  box-shadow: 0 0 0 4px rgba(0, 255, 0, 0.7);
}

.wrapper {
    margin-top: -32px;
}

/* Estilo para los avatares seleccionados */
.avatar-group-item.selected .rounded-circle {
  position: relative;
  border: 2px solid transparent; /* Prevents the image size from changing */
}

/* Aureola verde alrededor de los avatares seleccionados */

/* Estilo base para los avatares con clase .today */
.avatar-group-item.selected.today .rounded-circle {
  box-shadow: 0 0 0 4px rgba(0, 255, 1, 0.7); /* Adjust the halo's size and color */
  border: 0px solid transparent; /* Keep the current border */
}


/* If you also want a halo on divs without images (initial letters or counters) */
.today {
  box-shadow: 0 0 0 4px rgba(0, 255, 0, 0.7);
}

.badge_avatar {
            position: absolute;
            top: 0;
            left: -4px; /* Moved to the left */
            color: yellow;
            align-items: center;
            justify-content: center;
}

/* Fix para la fuente cuando se ponen los headers de WP */
:root {
    --wp--preset--font-family--heading: inherit; /* O puedes usar otra fuente predeterminada */
}

/* Corregir posicion por si se muestra la brra de wp en debug */
.leftside-menu { 
  padding-top: 3px;
}

.fc-tooltip-calendar {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}