.hidden {
    display: none;
}

.wrapper {
    margin-top: -32px;
}

.navbar-custom .dropdown a span.d-lg-flex h5,
.navbar-custom .dropdown a span.d-lg-flex h6 {
    text-transform: none;
}


/* Style for Choice.js disabled items */
div.choices__item[aria-disabled="true"] {
    color: red; /* Cambia el color del texto a rojo */
    background-color: #f8d7da; /* Fondo rojo claro */
    border: 1px solid #f5c6cb; /* Borde a juego */
    font-weight: bold; /* Opcional: Resaltar más */
}

/* Hide disabled options from the Choice.js dropdown */
div.choices__list--dropdown .choices__item[aria-disabled="true"] {
    display: none;
}


.ql-fullscreen::before {
    content: '⛶'; /* Fullscreen symbol */
}


/* Fix for dropdown on choices.js */
.choices__list--dropdown {
    z-index: 9999 !important;
}




/* Notifications */

.notification-list .noti-icon-badge {
    display: none;
}

.notify-item .notification-content {
    display: flex;
    flex-direction: column; /* Alinea verticalmente */
    width: 80%; /* Asegura que ocupa todo el ancho disponible */
}

.notify-item .fw-semibold {
    overflow: hidden;
    text-overflow: ellipsis; /* Trunca el texto con puntos suspensivos */
    white-space: nowrap; /* Evita que el texto se ajuste a varias líneas */
    margin-bottom: 2px; /* Espacio entre título y acción */
}

.notify-item .notification-action {
    color: #6c757d; /* Color grisáceo para la acción */
    display: flex;
    justify-content: space-between; /*Alinea la hora a la derecha*/
    align-items: center;
}

.notify-item .notification-time {
    font-size: 0.8rem;
    color: #6c757d; /* Mismo color que la acción */
}

.notify-icon {
    margin-right: 10px; /* Separación entre el icono y el texto */
    display: flex; /* Para centrar verticalmente el icono */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

}

.notify-item .d-flex{
    align-items: flex-start; /*Alinear arriba el contenido*/
}